RSS2Trello puts items from an RSS feed onto a trello list.
<br>
Use it for:
<ol>
	<li>Keep track youtube channels</li>
	<li>Scan quora for brand mentions</li>
	<li>Pretend Trello is an RSS reader</li>
	<li>Watching Craigslist</li>
	<li><b>Adding RSS to Trello</b></li>
</ol>